services:
  frontend-nhentai-downloader:
    container_name: nhentai-downloader-frontend
    restart: unless-stopped
    build:
      context: .
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_API_KEY: ${VITE_API_KEY}
    ports:
      - "${DOCKER_PORT:-8787}:80"
    env_file:
      - .env
