services:
  backend-nhentai-downloader:
    container_name: nhentai-downloader-backend
    restart: unless-stopped
    build: .
    ports:
      - "${DOCKER_PORT:-5173}:5173"
    env_file:
      - .env
    volumes:
      - ../manga:/manga
